header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color:rgba(255, 255, 255, 0.444);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
header.scrolled {
    background-color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.header-left  li a:hover {
    color: #009E60; 
}
.span {
    color: #009E60;
}
nav ul {
    margin-left: 10px;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 20px;
}

nav ul li a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a.highlight {
    margin-left: 10px;
    font-weight: bold;
    color: #f0f0f0;
}

.header-right {
    display: flex;
    justify-content: center;
}
.header-right li a:hover {
    color: #009E60; 
}

.header-right {
    position: relative;
}

.history {
    position: relative;
    display: inline-block;
}

.history-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.history-button:hover{
    color: #009E60;
}

.popup-box {
    position: absolute;
    top: 100%; 
    left: -100%;
    background-color: rgb(26, 28, 34);
    color: #fff;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    padding: 20px;
    z-index: 10;
    align-items: center;
}

.popup-icon {
    display: block;
    margin: 0 auto 10px;
    width: 50px;
    height: auto;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
    font-size: 15px;
}

.login-button:hover {
    background-color: #45a049;
}

.history:hover .popup-box {
    display: block;
}

.Language {
    position: relative;
    display: inline-block;
}

.Language-button {
    padding-left: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.Language-button:hover{
    color: #009E60;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -35%;
    background-color: #222;
    color: white;
    width: 120px;
    border-radius: 5px;
    display: none;
    z-index: 10;
}

.dropdown-item {
    display: block;
    justify-content: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #444;
}

.Language:hover .dropdown-menu {
    display: block; 
}
.my {
    position: relative;
    display: inline-block;
}

.my-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.my-box {
    position: absolute;
    top: 100%; 
    left: -90%;
    background-color: #333;
    color: #fff;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    padding: 20px;
    z-index: 10;
    align-items: center;
}

.my-button {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
    font-size: 15px;
}

.my-button:hover {
    color: #45a049;
}

.my:hover .my-box {
    display: block;
}

.search-bar {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
.search-bar li a:hover {
    color: #009E60;
}
.icon-links a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.app-button, .vip-button {
    padding: 5px 15px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.app-button {
    background-color: #ff8c00;
}

.vip-button {
    margin-right: 40px;
    background-color: #e3b200;
}
