section{
    padding-left: 10px;
    padding-right: 10px;
}
.name:hover {
    color: #009E60;
}
.movie{
    position: relative; 
    overflow: hidden; /* Ẩn phần nội dung tràn ra ngoài */
}
.movie-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
    padding-left: 100px;
    padding-top: 20px;
    overflow-x: scroll; /* Bật cuộn ngang */
    scroll-behavior: smooth; /* Cuộn mượt mà */
    -ms-overflow-style: none;  /* Ẩn thanh cuộn trên Internet Explorer và Edge */
    scrollbar-width: none;
    width: 94.1%;
}

.movie-list::-webkit-scrollbar {
    display: none;
}
.movie-list-china {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
    padding-left: 100px;
    padding-top: 20px;
    overflow-x: scroll; /* Bật cuộn ngang */
    scroll-behavior: smooth; /* Cuộn mượt mà */
    -ms-overflow-style: none;  /* Ẩn thanh cuộn trên Internet Explorer và Edge */
    scrollbar-width: none;
    width: 94.1%;
}

.movie-list-china::-webkit-scrollbar {
    display: none; /*ẩn trên chrome, coc coc*/
}

.movie-item:hover {
    transform: scale(1.2);
    border-radius: 10px;
}
.movie-item  {
    position: relative;
    flex: 0 0 200px;
    width: 200px; 
    border-radius: 20px;
    padding-left: 10px;
}

.movie-item img {
    width: 100%;
}

.movie-item a {
    color: white;
    text-decoration: none;
}
.movie-title, .movie-year, .movie-rating, .movie-genre, .movie-synopsis{
    color: white;
    font-size: 10px;
}

#infor:hover{
    color: #009E60;
}
.movie-details {
    display: none;
    background-color:black;
}

.movie-item:hover .movie-details {
    display: block;
    width: 100%;
    height: auto;
}
.movie-details{
    width: 170px;
    margin-top: -11.5px;
}
.movie-details p{
    padding-left: 5px;
    margin-right: 5px;
}
h2{
    color: white;
}
.movie-title{
    padding-top: 10px;
}
.movie-title:hover{
    color: #009E60;
}
.movie-info #info{
    text-align: right;
    padding-bottom: 20px;
}
.movie-synopsis{
    width: 200px; 
    padding-left: 5px;
    margin-right: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* điều hướng cho nội dung theo chiều dọc*/
    -webkit-line-clamp: 3; /* giới hạn số dòng */
    overflow: hidden; /* full thì thành ...*/
}
.movie-info{
    font-size: 10px;
    padding-left: 130px;
}
.name{
    font-size: 14px;
}
.overlay-content {
    position: absolute;
    top: 20%;
    right: 0%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:flex-end;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    z-index: 1; 
}

/* Khi hover vào ảnh, hiển thị nội dung */
.movie-item:hover .overlay-content {
    opacity: 1;
}

.movie-buttons {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 5px 5px;
    border: none;
    border-radius: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.watch-btn {
    background-color: #009e60;
    margin: 0 auto;
}

.watch-btn:hover {
    background-color: #007b4a;
    margin: 0 auto;
}
.collect-btn {
    background-color:white;
}

.collect-btn:hover {
    background-color: white;
}


