

body {
    background-color: #121212;
    color: #ffffff;
} 

.container {
    display: flex;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.info-section {
    padding-top: 60px;
    padding-right: 20px;
}

.info-section h1 {
    z-index: 10;
    font-size: 2em;
    margin-bottom: 10px;
}

.rating-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.top-rating {
    background-color: #009E60;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.score {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.details {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #bbb;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tags span {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.description {
    margin-bottom: 20px;
    line-height: 1.6;
    width: 400px;   
}
.toggle-visibility {
    display: none;
}

.more-content {
    display: none;
    margin-top: 10px;
}

.show-more {
    cursor: pointer;
    color: #009E60;
    text-decoration: underline;
}

.show-more.expanded {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play-button {
    background-color: #009E60;
    color: #fff;
}

.share-button, .app-button, .collection-button {
    background-color: #333;
    color: #fff;
}

.image-section {
    flex: 1;
    position: relative;
}

.image-section img {
    width: 100%;
    border-radius: 10px;
}
.container1 {
    padding: 30px;
    background-color: #1e1e1e;
    margin-top: 20px;
}

.container1 h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}

.menu {
    margin-bottom: 20px;
}

#episode-select {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
}

.episodes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.episode {
    cursor: pointer;
    width: 200px;
    text-align: center;
}


.episode img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.episode img:hover{ 
    transform: scale(1.05);
}
.episode-title {
    margin-top: 10px;
    font-size: 1em;
    color: #fff;
}
.episode-title:hover{
    
    color: #009E60;
}
