.slider {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    cursor: pointer;
}
.slides {
    display: flex;
    width: 110%;
    transition: transform 1s ease-in-out;
}
.slide {
    width: 100%;
    position: relative;
    flex-shrink: 0;
}
.slide img {
    width: 110%;
    height: 100%;
    object-fit: cover;
}
.info {
    top: 60%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.info h2 {
    margin-bottom: 5px;
}

.info p {
    font-size: 14px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.1);
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    user-select: none;
    transition: background-color 0.3s;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
